<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.nesst.messaging">

    <dist:module
            dist:instant="false"
            dist:title="@string/title_messaging">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ContactsActivity" />
        <activity android:name=".ui.ChatActivity" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/ic_stat_ic_notification" /> -->
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/secondaryMain" /> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="@string/default_notification_channel_id" /> -->

        <service
                android:name=".services.FireBaseMessageService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>