<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="co.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="true" />
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.flash"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.fingerprint"
            android:required="false" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
            android:requestLegacyExternalStorage="true"
            tools:replace="android:supportsRtl">
        <activity
                android:name=".messaging.MessagingAndNotificationsActivity"
                android:label="@string/title_activity_messaging_and_notifications"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".search.SearchActivity"
                android:label="@string/title_activity_search"
                android:theme="@style/AppTheme.NoActionBar" />

        <service
                android:name=".messaging.chat.ChatService"
                android:enabled="true"
                android:exported="false" />

        <activity
                android:name=".SplashActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".messaging.chat.ChatActivity"
                android:label=""
                android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/color_secondary" /> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="@string/default_notification_channel_id" /> -->
        <service
                android:name=".FireBaseMessageService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <activity
                android:name=".legal.LegalActivity"
                android:label="@string/title_activity_legal"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".settings.SettingsActivity"
                android:label="@string/title_activity_settings" />
        <activity
                android:name=".dashboard.DashboardActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".photo.CameraXActivity" />
    </application>

</manifest>