<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="co.app.request">

    <dist:module
            dist:instant="false"
            dist:title="@string/title_request">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
                android:name=".product.ProductDetailsActivity"
                android:label="@string/title_activity_product_details"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".service.ServiceDetailsActivity" />
        <activity android:name=".product.ProductSKUDetailActivity" />
    </application>

</manifest>